@page
@model ClassroomPeriodModel

@{
    ViewData["ClassroomDimensions"] = $"{Model.ClassPeriod.Rows} x {Model.ClassPeriod.Columns}";
}

<h1>Period @Model.Period</h1>
<h2>Classroom: @Model.ClassroomDimensionsDisplay</h2>
<div class="text-center">
    @Model.Period
    <table>
        <tbody>
            @for (var i = 0; i < Model.Rows; i++)
            {
            <tr>
                @for(var j = 0; j < Model.Columns; j++) 
                {
                    <td>@Model.Chart[i,j]</td>
                }
            </tr>
            }
        </tbody>
    </table>

</div>